.menu {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 40rem;
  background: var(--secondary-color);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--black-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__title {
  font-size: 3rem;
  padding-left: 1rem;
  color: var(--white-color);
}

.menu__btn-open-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__btn-open-menu-icon {
  padding-right: 1rem;
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__form-input {
  font-size: 3rem;
  height: 4rem;
  width: 85%;
  outline: none;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.menu__form-btn-accept {
  height: 4rem;
  width: 12.5%;
  margin-right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.menu__form-btn-accept-icon {
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__config {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--secondary-color);
  position: absolute;
  height: 40rem;
  width: 80%;
  transform: translateY(-400%);
  transition: transform 1s;
}

.menu__config--open {
  transform: translateY(0%);
}

.menu__config-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
}

.menu__config-header-btn-close {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__config-header-btn-close-icon {
  font-size: 5rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__config-actions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.menu__config-actions-btn-clear-all-tasks {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

.menu__note {
  width: 100%;
  height: 30rem;
}

.menu__note-list {
  width: 100%;
  height: 30rem;
  padding-bottom: 1rem;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .menu {
    width: 30%;
    height: 60rem;
    margin-bottom: 0rem;
  }

  .menu__note {
    height: 100%;
  }

  .menu__note-list {
    height: calc(100% - 2.7rem);
  }

  .menu__config {
    height: 60rem;
    width: 30%;
  }
}
