.menu {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 25rem;
  background: var(--color-secondary);
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem var(--color-black);
  border-radius: 0.313rem;
  margin-bottom: 0.625rem;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.125rem;
}

.menu__title {
  font-size: 1.875rem;
  padding-left: 0.625rem;
  color: var(--color-white);
}

.menu__btn-open-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__btn-open-menu-icon {
  padding-right: 0.625rem;
  font-size: 1.875rem;
  color: var(--color-white);
  overflow: hidden;
}

.menu__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.125rem;
}

.menu__form-input {
  font-size: 1.875rem;
  height: 2.5rem;
  width: 85%;
  outline: none;
  margin-left: 0.313rem;
  border-radius: 0.313rem;
}

.menu__form-btn-accept {
  height: 2.5rem;
  width: 12.5%;
  margin-right: 0.313rem;
  border: none;
  background: none;
  cursor: pointer;
}

.menu__form-btn-accept-icon {
  font-size: 1.875rem;
  color: var(--color-white);
  overflow: hidden;
}

.menu__config {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--color-secondary);
  position: absolute;
  height: 25rem;
  width: 80%;
  transform: translateY(-400%);
  transition: transform 1s;
}

.menu__config--open {
  transform: translateY(0%);
}

.menu__config-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6.25rem;
}

.menu__config-header-btn-close {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__config-header-btn-close-icon {
  font-size: 3.125rem;
  color: var(--color-white);
  overflow: hidden;
}

.menu__config-actions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 18.75rem;
}

.menu__config-actions-btn-clear-all-tasks {
  background: none;
  border: none;
  font-size: 1.875rem;
  color: var(--color-white);
  cursor: pointer;
}

.menu__note {
  width: 100%;
  height: 18.75rem;
}

.menu__note-list {
  width: 100%;
  height: 18.75rem;
  padding-bottom: 0.625rem;
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .menu {
    width: 30%;
    height: 37.5rem;
    margin-bottom: 0rem;
  }

  .menu__note {
    height: 100%;
  }

  .menu__note-list {
    height: calc(100% - 1.688rem);
  }

  .menu__config {
    height: 37.5rem;
    width: 30%;
  }
}
