.header-wrapper {
  width: 100%;
  height: 20rem;
}

.header-wrapper__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
}

.header-wrapper__title-text {
  font-size: 7rem;
  color: var(--white-color);
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  height: 123rem;
}

.menus__menu {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 40rem;
  background: var(--secondary-color);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--black-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.menus__menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menus__menu-header-title {
  font-size: 3rem;
  padding-left: 1rem;
  color: var(--white-color);
}

.menus__menu-header-btn-open {
  background: none;
  border: none;
  cursor: pointer;
}

.menus__menu-header-btn-open-icon {
  padding-right: 1rem;
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menus__menu-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menus__menu-form-input {
  font-size: 3rem;
  height: 4rem;
  width: 85%;
  outline: none;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.menus__menu-form-btn-accept {
  height: 4rem;
  width: 12.5%;
  margin-right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.menus__menu-form-btn-accept-icon {
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menus__menu-config {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--secondary-color);
  position: absolute;
  height: 40rem;
  width: 80%;
  transform: translateY(-400%);
  transition: transform 1s;
}

.menus__menu-config--open {
  transform: translateY(0%);
}

.menus__menu-config-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
}

.menus__menu-config-header-btn-close {
  background: none;
  border: none;
  cursor: pointer;
}

.menus__menu-config-header-btn-close-icon {
  font-size: 5rem;
  color: var(--white-color);
  overflow: hidden;
}

.menus__menu-config-actions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.menus__menu-config-actions-btn-clear-all-tasks {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

.menus__menu-note {
  width: 100%;
  height: 30rem;
}

.menus__menu-note-list {
  width: 100%;
  height: 30rem;
  padding-bottom: 1rem;
  overflow: auto;
}

.menus__menu-note-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menus__menu-note-list-item--line {
  text-decoration: line-through;
  color: var(--primary-color);
}

.menus__menu-note-list-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2rem solid var(--white-color);
  border-radius: 0.5rem;
  height: 5rem;
  width: 95%;
  margin-top: 1rem;
  padding: 1rem;
}

.menus__menu-note-list-item-wrapper-text {
  font-size: 2rem;
  color: var(--white-color);
}

.menus__menu-note-list-item-wrapper-btn-delete {
  background: none;
  border: none;
}

.menus__menu-note-list-item-wrapper-btn-delete-icon {
  font-size: 2rem;
  color: var(--white-color);
  overflow: hidden;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 20rem;
  width: 100%;
}

.footer-wrapper__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.footer-wrapper__content-title {
  align-self: center;
  color: var(--white-color);
  font-size: 3rem;
}

.footer-wrapper__content-text {
  padding: 0.5rem;
  text-align: justify;
  color: var(--white-color);
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .menus {
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: 60rem;
  }

  .menus__menu {
    width: 30%;
    height: 60rem;
    margin-bottom: 0rem;
  }

  .menus__menu-note {
    height: 100%;
  }

  .menus__menu-note-list {
    height: calc(100% - 2.7rem);
  }

  .menus__menu-note-list-item-wrapper {
    justify-content: center;
  }

  .menus__menu-note-list-item-wrapper-btn-delete {
    display: none;
  }

  .menus__menu-config {
    height: 60rem;
    width: 30%;
  }

  .footer-wrapper {
    height: 12rem;
  }

  .footer-wrapper__content-text {
    align-self: center;
    padding: 0rem;
  }
}
