.header {
  width: 100%;
  height: 20rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20rem;
}

.header h1 {
  font-size: 7rem;
  color: var(--white-color);
}

.menus__todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  position: relative;
  width: 100%;
  height: 123rem;
}

.menu__tasks {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 40rem;
  background: var(--secondary-color);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--black-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.menu__tasks__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__tasks__header h2 {
  font-size: 3rem;
  padding-left: 1rem;
  color: var(--white-color);
}

.menu__tasks__header button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__tasks__header button i {
  padding-right: 1rem;
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__tasks__insert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__tasks__insert input {
  font-size: 3rem;
  height: 4rem;
  width: 85%;
  outline: none;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.menu__tasks__insert button {
  height: 4rem;
  width: 12.5%;
  margin-right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.menu__tasks__insert button i {
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__tasks__config {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--secondary-color);
  position: absolute;
  height: 40rem;
  width: 80%;
  transform: translateY(-400%);
  transition: transform 1s;
}

.menu__tasks__config__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
}

.menu__tasks__config__header button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__tasks__config button i {
  font-size: 5rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__tasks__config__btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.menu__tasks__config__btns button {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

.menu__tasks__note {
  width: 100%;
  height: 30rem;
}

.menu__tasks__note__list {
  width: 100%;
  height: 30rem;
}

.menu__tasks__note__list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__tasks__note__list li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2rem solid var(--white-color);
  border-radius: 0.5rem;
  height: 5rem;
  width: 95%;
  margin-top: 1rem;
  padding: 1rem;
}
.menu__tasks__note__list li div h2 {
  font-size: 2rem;
  color: var(--white-color);
}

.menu__tasks__note__list li div button {
  background: none;
  border: none;
}

.menu__tasks__note__list li div button i {
  font-size: 2rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__progress {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 40rem;
  background: var(--secondary-color);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--black-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.menu__progress__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__progress__header h2 {
  font-size: 3rem;
  padding-left: 1rem;
  color: var(--white-color);
}

.menu__progress__header button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__progress__header button i {
  padding-right: 1rem;
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__progress__insert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__progress__insert input {
  font-size: 3rem;
  height: 4rem;
  width: 85%;
  outline: none;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.menu__progress__insert button {
  height: 4rem;
  width: 12.5%;
  margin-right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.menu__progress__insert button i {
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__progress__config {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--secondary-color);
  position: absolute;
  height: 40rem;
  width: 80%;
  transform: translateY(-400%);
  transition: transform 1s;
}

.menu__progress__config__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
}

.menu__progress__config__header button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__progress__config button i {
  font-size: 5rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__progress__config__btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.menu__progress__config__btns button {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

.menu__progress__note {
  width: 100%;
  height: 30rem;
}

.menu__progress__note__list {
  width: 100%;
  height: 30rem;
}

.menu__progress__note__list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__progress__note__list li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2rem solid var(--white-color);
  border-radius: 0.5rem;
  height: 5rem;
  width: 95%;
  margin-top: 1rem;
  padding: 1rem;
}
.menu__progress__note__list li div h2 {
  font-size: 2rem;
  color: var(--white-color);
}

.menu__progress__note__list li div button {
  background: none;
  border: none;
}

.menu__progress__note__list li div button i {
  font-size: 2rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__finish {
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: 40rem;
  background: var(--secondary-color);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--black-color);
  border-radius: 0.5rem;
}

.menu__finish__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__finish__header h2 {
  font-size: 3rem;
  padding-left: 1rem;
  color: var(--white-color);
}

.menu__finish__header button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__finish__header button i {
  padding-right: 1rem;
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__finish__insert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.menu__finish__insert input {
  font-size: 3rem;
  height: 4rem;
  width: 85%;
  outline: none;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.menu__finish__insert button {
  height: 4rem;
  width: 12.5%;
  margin-right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.menu__finish__insert button i {
  font-size: 3rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__finish__config {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  background: var(--secondary-color);
  position: absolute;
  height: 40rem;
  width: 80%;
  transform: translateY(-400%);
  transition: transform 1s;
}

.menu__finish__config__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
}

.menu__finish__config__header button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu__finish__config button i {
  font-size: 5rem;
  color: var(--white-color);
  overflow: hidden;
}

.menu__finish__config__btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 30rem;
}

.menu__finish__config__btns button {
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
}

.menu__finish__note {
  width: 100%;
  height: 30rem;
}

.menu__finish__note__list {
  width: 100%;
  height: 30rem;
}

.menu__finish__note__list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__finish__note__list li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2rem solid var(--white-color);
  border-radius: 0.5rem;
  height: 5rem;
  width: 95%;
  margin-top: 1rem;
  padding: 1rem;
}
.menu__finish__note__list li div h2 {
  font-size: 2rem;
  color: var(--white-color);
}

.menu__finish__note__list li div button {
  background: none;
  border: none;
}

.menu__finish__note__list li div button i {
  font-size: 2rem;
  color: var(--white-color);
  overflow: hidden;
}

.line {
  text-decoration: line-through;
  color: var(--primary-color);
}

.menu {
  transform: translateY(0%);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  height: 20rem;
  width: 100%;
}

.footer div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.footer div h2 {
  align-self: center;
  color: var(--white-color);
  font-size: 3rem;
}

.footer div p {
  padding: 0.5rem;
  text-align: justify;
  color: var(--white-color);
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .menus__todos {
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: 60rem;
  }

  .menu__tasks {
    width: 30%;
    height: 60rem;
    margin-bottom: 0rem;
  }

  .menu__progress {
    width: 30%;
    height: 60rem;
    margin-bottom: 0rem;
  }

  .menu__finish {
    width: 30%;
    height: 60rem;
    margin-bottom: 0rem;
  }

  .menu__tasks__note {
    height: 100%;
  }

  .menu__tasks__note__list {
    height: 100%;
  }

  .menu__progress__note {
    height: 100%;
  }

  .menu__progress__note__list {
    height: 100%;
  }

  .menu__finish__note {
    height: 100%;
  }

  .menu__finish__note__list {
    height: 100%;
  }

  .menu__tasks__note__list li div button {
    display: none;
  }

  .menu__progress__note__list li div button {
    display: none;
  }

  .menu__finish__note__list li div button {
    display: none;
  }

  .menu__tasks__note__list li div {
    justify-content: center;
  }

  .menu__progress__note__list li div {
    justify-content: center;
  }

  .menu__finish__note__list li div {
    justify-content: center;
  }

  .menu__tasks__config {
    height: 60rem;
    width: 30%;
  }

  .menu__progress__config {
    height: 60rem;
    width: 30%;
  }

  .menu__finish__config {
    height: 60rem;
    width: 30%;
  }

  .footer {
    height: 12rem;
  }

  .footer div p {
    align-self: center;
    padding: 0rem;
  }
}
